body {
    background-color: lightblue;
  }h1 {
    background-color: rgb(59, 2, 12);
  }
  
  div {
    background-color: rgb(1, 31, 41);
  }
  
  p {
    background-color: grey;
  }body {
    background-image: url("saad.jpg");
  }p {
    color: red;
    text-align: center;
  }p1 {
    font-family: "Times New Roman", Times, serif;
  }
  
  .p2 {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .p3 {
    font-family: "Lucida Console", "Courier New", monospace;
  }